Repository enfabrica/enkit, changes with the owners that CODEOWNERS names for each.
All owners: @ccontavalli, @mhallmark, @jrp-enf, @jonathan-enf, @ahungrynacho, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

ENGPROD-1245: patch to aspect_rules_py to deduct entrypoint in pex for external repos right
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

migrate to `aspect_rules_py`
  MODULE.bazel.lock
  bazel/appengine/configtools/BUILD.bazel
  bazel/linux/kunit/BUILD.bazel
  bazel/utils/container/BUILD.bazel
  bazel/utils/container/container.bzl
  bazel/utils/container/muk/BUILD.bazel
  bazel/website/copier/BUILD.bazel
  tools/bzldoc/BUILD.bazel
  tools/codegen/BUILD.bazel
  tools/mdfmt/BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

A bunch of python-related fixes
  bazel/linux/bundles.bzl
  bazel/linux/kunit/BUILD.bazel
  bazel/utils/yaml.bzl
  registry/modules/aspect_rules_py/enf-1.5.1/patches/pyinfo_in_pex_binary.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

add patched `aspect_rules_py` to registry to fix `bazel query "deps(//...)"`
  MODULE.bazel
  MODULE.bazel.lock
  registry/modules/aspect_rules_py/enf-1.5.1/MODULE.bazel
  registry/modules/aspect_rules_py/enf-1.5.1/patches/fix_version_and_deps_query.patch
  registry/modules/aspect_rules_py/enf-1.5.1/presubmit.yml
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
  registry/modules/aspect_rules_py/metadata.json
Owners: @ccontavalli, @mhallmark, @jrp-enf

ENGPROD-1213: Patch `aspect_rules_py` to use host python interpreter during PEX compilation
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

Add dropbear to registry
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/dropbear/enf-2024.86/MODULE.bazel
  registry/modules/dropbear/enf-2024.86/overlay/BUILD.bazel
  registry/modules/dropbear/enf-2024.86/overlay/MODULE.bazel
  registry/modules/dropbear/enf-2024.86/overlay/MODULE.bazel.lock
  registry/modules/dropbear/enf-2024.86/patches/0001-allow-blank-password.patch
  registry/modules/dropbear/enf-2024.86/patches/0002-override-authorized-keys.patch
  registry/modules/dropbear/enf-2024.86/patches/0003-ignore-user-s-shell.patch
  registry/modules/dropbear/enf-2024.86/presubmit.yml
  registry/modules/dropbear/enf-2024.86/source.json
  registry/modules/dropbear/metadata.json
Owners: none

revert back
  MODULE.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

drop `launch.json`
  .vscode/launch.json
Owners: none

Fix protobuf python related error in bazel query --order_output=no 'deps(//...)'
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  bazel/dependencies/protobuf/0001-fix-protobuf-query-errors.patch
  bazel/dependencies/protobuf/BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

Code review issue + run buildifier
  MODULE.bazel.lock
  allocation_manager/server/BUILD.bazel
  bazel/astore/BUILD.bazel
  bazel/linux/kunit/BUILD.bazel
  bazel/utils/container/BUILD.bazel
  bazel/utils/container/muk/BUILD.bazel
  enkit/BUILD.bazel
  registry/modules/bazel_bats/enf-0.35.0/MODULE.bazel
  registry/modules/dropbear/enf-2024.86/MODULE.bazel
  registry/modules/dropbear/enf-2024.86/overlay/BUILD.bazel
  registry/modules/dropbear/enf-2024.86/overlay/MODULE.bazel
  registry/modules/rules_foreign_cc/enf-0.14.0/MODULE.bazel
  tools/codegen/BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

Fix dropbear checksum
  registry/modules/dropbear/enf-2024.86/source.json
Owners: none

Better not to use '@//' after bzlmod migration
  bazel/astore/tests/BUILD.bazel
  kbuild/v2/BUILD.bazel
  scripts/BUILD.bazel
Owners: @jonathan-enf, @ccontavalli, @mhallmark

Set right hash for dropbear
  registry/modules/dropbear/enf-2024.86/source.json
Owners: none

[allocation-manager] if host is missing in inventory, print error and move on
  allocation_manager/service/service.go
Owners: @ccontavalli, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

[allocation-manager] if host is missing in inventory, print error and… (#1247)
  allocation_manager/service/service.go
Owners: @ccontavalli, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

astore_upload: Output full path in JSON output
  bazel/astore/astore_upload_files.py
Owners: none

astore_upload: Output full path in JSON output (#1248)
  bazel/astore/astore_upload_files.py
Owners: none

Tryfix `container_pusher`
  MODULE.bazel.lock
  bazel/utils/container/container.bzl
Owners: @ccontavalli, @mhallmark, @jrp-enf

ENGPROD-1307: Fix problems with `container_pusher` after Bzlmod migration
  bazel/utils/container/BUILD.bazel
  bazel/utils/container/container_pusher.py
  requirements.in
  requirements.txt
Owners: @ccontavalli, @mhallmark, @jrp-enf

ENGPROD-1307: Fix problems with `container_pusher` after Bzlmod migration. (#1249)
  bazel/utils/container/BUILD.bazel
  bazel/utils/container/container_pusher.py
  requirements.in
  requirements.txt
Owners: @ccontavalli, @mhallmark, @jrp-enf

ENGPROD-1142: Update Bazel to 8 in enkit
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  allocation_manager/server/BUILD.bazel
  allocation_manager/service/BUILD.bazel
  astore/server/BUILD.bazel
  astore/server/astore/BUILD.bazel
  astore/server/configs/BUILD.bazel
  auth/server/assets/credentials/BUILD.bazel
  auth/server/credentials/BUILD.bazel
  go.mod
  kbuild/assets/BUILD.bazel
  lib/bazel/proto/BUILD.bazel
  lib/config/BUILD.bazel
  machinist/mserver/BUILD.bazel
  proxy/credentials/BUILD.bazel
  registry/modules/gazelle/enf-0.44.0/MODULE.bazel
  registry/modules/gazelle/enf-0.44.0/MODULE.bazel.lock
  registry/modules/gazelle/enf-0.44.0/patches/gazelle.patch
  registry/modules/gazelle/enf-0.44.0/source.json
  registry/modules/xds/enf-2025-05-01/MODULE.bazel
  registry/modules/xds/enf-2025-05-01/patches/xds.patch
  registry/modules/xds/enf-2025-05-01/source.json
  registry/modules/xds/metadata.json
Owners: @ccontavalli, @mhallmark, @jrp-enf, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

update goldens, move gazelle override for nomad to patch
  MODULE.bazel
  MODULE.bazel.lock
  bazel/utils/testdata/remote/only-copy.files_to_copy.expected
  bazel/utils/testdata/remote/simple.files_to_copy.expected
  bazel/utils/testdata/remote/with-all-basic.files_to_copy.expected
  bazel/utils/testdata/remote/with-all-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-decorated-wrapper.files_to_copy.expected
  bazel/utils/testdata/remote/with-destdir.files_to_copy.expected
  bazel/utils/testdata/remote/with-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-local-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-noop-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-opts.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir-inverted.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-wrapper.files_to_copy.expected
  registry/modules/gazelle/enf-0.44.0/patches/gazelle.patch
  registry/modules/gazelle/enf-0.44.0/source.json
Owners: @ccontavalli, @mhallmark, @jrp-enf

kernel: Add version info to `uname -r`
  kbuild/v2/scripts/build-debs.sh
Owners: @jonathan-enf, @ccontavalli, @ahungrynacho, @mhallmark

astore_upload: Add path_prefix bazel flag
  bazel/astore/astore_upload_file.sh
  bazel/astore/astore_upload_files.py
  bazel/astore/defs.bzl
  f/astore/BUILD.bazel
  flextape/server/BUILD.bazel
Owners: @jonathan-enf, @ccontavalli, @ahungrynacho, @mhallmark

astore_upload: Add path_prefix bazel flag (#1252)
  bazel/astore/astore_upload_file.sh
  bazel/astore/astore_upload_files.py
  bazel/astore/defs.bzl
  f/astore/BUILD.bazel
  flextape/server/BUILD.bazel
Owners: @jonathan-enf, @ccontavalli, @ahungrynacho, @mhallmark

astore_upload: Make wrapper tool switchable on the commandline
  bazel/astore/defs.bzl
  f/astore/BUILD.bazel
Owners: none

astore_upload: Make wrapper tool switchable on the commandline (#1253)
  bazel/astore/defs.bzl
  f/astore/BUILD.bazel
Owners: none

fix(atore_upload): update AstorePath when reporting JSON
  bazel/astore/astore_upload_files.py
Owners: none

fix(atore_upload): update AstorePath when reporting JSON (#1254)
  bazel/astore/astore_upload_files.py
Owners: none

update goldens, move gazelle override for nomad to patch
  MODULE.bazel
  MODULE.bazel.lock
  bazel/utils/testdata/remote/only-copy.files_to_copy.expected
  bazel/utils/testdata/remote/simple.files_to_copy.expected
  bazel/utils/testdata/remote/with-all-basic.files_to_copy.expected
  bazel/utils/testdata/remote/with-all-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-decorated-wrapper.files_to_copy.expected
  bazel/utils/testdata/remote/with-destdir.files_to_copy.expected
  bazel/utils/testdata/remote/with-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-local-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-noop-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-opts.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir-inverted.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-wrapper.files_to_copy.expected
  registry/modules/gazelle/enf-0.44.0/patches/gazelle.patch
  registry/modules/gazelle/enf-0.44.0/source.json
Owners: @ccontavalli, @mhallmark, @jrp-enf

ENGPROD-1142: Update Bazel to 8 in enkit
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  allocation_manager/server/BUILD.bazel
  allocation_manager/service/BUILD.bazel
  astore/server/BUILD.bazel
  astore/server/astore/BUILD.bazel
  astore/server/configs/BUILD.bazel
  auth/server/assets/credentials/BUILD.bazel
  auth/server/credentials/BUILD.bazel
  go.mod
  kbuild/assets/BUILD.bazel
  lib/bazel/proto/BUILD.bazel
  lib/config/BUILD.bazel
  machinist/mserver/BUILD.bazel
  proxy/credentials/BUILD.bazel
  registry/modules/gazelle/enf-0.44.0/MODULE.bazel
  registry/modules/gazelle/enf-0.44.0/MODULE.bazel.lock
  registry/modules/gazelle/enf-0.44.0/patches/gazelle.patch
  registry/modules/gazelle/enf-0.44.0/source.json
  registry/modules/xds/enf-2025-05-01/MODULE.bazel
  registry/modules/xds/enf-2025-05-01/patches/xds.patch
  registry/modules/xds/enf-2025-05-01/source.json
  registry/modules/xds/metadata.json
Owners: @ccontavalli, @mhallmark, @jrp-enf, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

ENGPROD-1142: Update Bazel to 8 in enkit (#1250)
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  allocation_manager/server/BUILD.bazel
  allocation_manager/service/BUILD.bazel
  astore/server/BUILD.bazel
  astore/server/astore/BUILD.bazel
  astore/server/configs/BUILD.bazel
  auth/server/assets/credentials/BUILD.bazel
  auth/server/credentials/BUILD.bazel
  bazel/utils/testdata/remote/only-copy.files_to_copy.expected
  bazel/utils/testdata/remote/simple.files_to_copy.expected
  bazel/utils/testdata/remote/with-all-basic.files_to_copy.expected
  bazel/utils/testdata/remote/with-all-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-decorated-wrapper.files_to_copy.expected
  bazel/utils/testdata/remote/with-destdir.files_to_copy.expected
  bazel/utils/testdata/remote/with-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-local-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-noop-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-opts.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir-inverted.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-wrapper.files_to_copy.expected
  go.mod
  kbuild/assets/BUILD.bazel
  lib/bazel/proto/BUILD.bazel
  lib/config/BUILD.bazel
  machinist/mserver/BUILD.bazel
  proxy/credentials/BUILD.bazel
  registry/modules/gazelle/enf-0.44.0/MODULE.bazel
  registry/modules/gazelle/enf-0.44.0/MODULE.bazel.lock
  registry/modules/gazelle/enf-0.44.0/patches/gazelle.patch
  registry/modules/gazelle/enf-0.44.0/source.json
  registry/modules/xds/enf-2025-05-01/MODULE.bazel
  registry/modules/xds/enf-2025-05-01/patches/xds.patch
  registry/modules/xds/enf-2025-05-01/source.json
  registry/modules/xds/metadata.json
Owners: @ccontavalli, @mhallmark, @jrp-enf, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

ENGPROD-1249: do not use custom repository cache in serial affected targets
  lib/bazel/affected_targets.go
Owners: none

Fix typo
  lib/bazel/affected_targets.go
Owners: none

ENGPROD-1249: do not use custom repository cache in serial affected targets (#1255)
  lib/bazel/affected_targets.go
Owners: none

muk: Fall back to builtin `py_*` rules
  bazel/utils/container/muk/BUILD.bazel
Owners: none

muk: Fall back to builtin `py_*` rules (#1256)
  bazel/utils/container/muk/BUILD.bazel
Owners: none

INFRA-11884: fix nonhermetic_image_builder as it can't find runfiles dir
  bazel/utils/container/container.bzl
  bazel/utils/container/muk/BUILD.bazel
Owners: none

CODEOWNERS:

/* @ccontavalli @mhallmark @jrp-enf
*.sh @jonathan-enf @ccontavalli @ahungrynacho @mhallmark
/scripts @jonathan-enf @ccontavalli @mhallmark
allocation_manager/ @ccontavalli @kjw-enf @moksh-enf @paul-enf @roivanov
