Repository enfabrica/enkit, changes with the owners that CODEOWNERS names for each.
All owners: @ccontavalli, @mhallmark, @jrp-enf, @jonathan-enf, @ahungrynacho, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

CODEOWNERS:

/* @ccontavalli @mhallmark @jrp-enf
*.sh @jonathan-enf @ccontavalli @ahungrynacho @mhallmark
/scripts @jonathan-enf @ccontavalli @mhallmark
allocation_manager/ @ccontavalli @kjw-enf @moksh-enf @paul-enf @roivanov

ENGPROD-1245: patch aspect_rules_py pex creation to contain repo_mapping and have entry point script in subdir
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

More patches to aspect_rules_py
  MODULE.bazel.lock
  bazel/linux/kunit/BUILD.bazel
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: @ccontavalli, @mhallmark, @jrp-enf

no need of cel override here
  BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

add patched `aspect_rules_py` to registry to fix `bazel query "deps(//...)"`
  MODULE.bazel
  MODULE.bazel.lock
  registry/modules/aspect_rules_py/enf-1.5.1/MODULE.bazel
  registry/modules/aspect_rules_py/enf-1.5.1/patches/fix_version_and_deps_query.patch
  registry/modules/aspect_rules_py/enf-1.5.1/presubmit.yml
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
  registry/modules/aspect_rules_py/metadata.json
Owners: @ccontavalli, @mhallmark, @jrp-enf

ENGPROD-1245: patch to aspect_rules_py to deduct entrypoint in pex for external repos right
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

Print known topologies on AM server startup
  allocation_manager/service/service.go
  allocation_manager/service/unit.go
Owners: @ccontavalli, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

[allocation_manager] Print known topologies on AM server startup (#1245)
  allocation_manager/service/service.go
  allocation_manager/service/unit.go
Owners: @ccontavalli, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

//toold/mdfmt: add streaming support
  tools/mdfmt/mdfmt.py
Owners: none

//tools/mdfmt: add streaming formatting (#1246)
  tools/mdfmt/mdfmt.py
Owners: none

fix rules_go name
  bazel/enkit_credential_helper/BUILD.bazel
Owners: none

expose command also
  bazel/enkit/defs.bzl
Owners: none

fix after merge errors
  bazel/astore/BUILD.bazel
  bazel/astore/astore_upload_files.py
Owners: none

fix flextape client_test flakiness
  flextape/client/client.go
Owners: none

update this patch again
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

bazel mod tidy
  MODULE.bazel
  MODULE.bazel.lock
  registry/modules/gazelle/enf-0.43.0/patches/fix_noop.patch
  registry/modules/gazelle/enf-0.43.0/source.json
  registry/modules/rules_python/metadata.json
Owners: @ccontavalli, @mhallmark, @jrp-enf

fix not added comment
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
Owners: none

ENGPROD-1201: a workaround for `import enkit` from monorepo
  MODULE.bazel
  enkit/BUILD.bazel
  enkit/__init__.py
Owners: @ccontavalli, @mhallmark, @jrp-enf

make hermetic_cc_toolchain non dev dependency
  MODULE.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

patch pex binary creation
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/patches/pyinfo_in_pex_binary.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

Fix bunch of build errors
  BUILD.bazel
  MODULE.bazel
  bazel/dependencies/com_google_cloud_go_datastore/0001-datastore-query-to-proto-exported.patch
  bazel/dependencies/com_google_cloud_go_datastore/BUILD.bazel
  bb_reporter/reporter/BUILD.bazel
  experimental/nomad_resource_plugin/licensedevice/docker/docker.go
  experimental/remote_apis_build_demo/BUILD.bazel
  lib/client/commands/BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

update go sdk in 'settings.json'
  .vscode/settings.json
Owners: none

no need of cel override here
  BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

cleanup
  org_golang_google_grpc.patch
Owners: @ccontavalli, @mhallmark, @jrp-enf

add visibility to container_push
  MODULE.bazel
  bazel/utils/container/container.bzl
  tools/go/update_go_deps.sh
Owners: @ccontavalli, @mhallmark, @jrp-enf, @jonathan-enf, @ahungrynacho

Do not build make and pkgconfig from source
  registry/modules/rules_foreign_cc/enf-0.14.0/MODULE.bazel
  registry/modules/rules_foreign_cc/enf-0.14.0/patches/rules_foreign_cc.patch
  registry/modules/rules_foreign_cc/enf-0.14.0/source.json
Owners: none

patch `rules_python` to allow `exclude_deps` annotation
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  registry/modules/rules_python/enf-1.4.1/MODULE.bazel
  registry/modules/rules_python/enf-1.4.1/patches/rules_python.patch
  registry/modules/rules_python/enf-1.4.1/presubmit.yml
  registry/modules/rules_python/enf-1.4.1/source.json
  registry/modules/rules_python/metadata.json
  run_affected.sh
  run_dlv.sh
Owners: @ccontavalli, @mhallmark, @jrp-enf, @jonathan-enf, @ahungrynacho

update goldens
  MODULE.bazel.lock
  bazel/utils/testdata/remote/with-all-inputs.files_to_copy.expected
Owners: @ccontavalli, @mhallmark, @jrp-enf

Fool protobuf to think it is version `5.29.3` for python
  registry/modules/protobuf/enf-31.0/patches/protobuf.patch
  registry/modules/protobuf/enf-31.0/source.json
Owners: none

update `MODULE.bazel`
  MODULE.bazel.lock
Owners: @ccontavalli, @mhallmark, @jrp-enf

Update `rules_py` patch version
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

update after rebase
  MODULE.bazel
  astore/server/BUILD.bazel
  go.mod
  go.sum
Owners: @ccontavalli, @mhallmark, @jrp-enf

Run buildifier and fix linkage problems
  MODULE.bazel
  MODULE.bazel.lock
  bazel/appengine/config.bzl
  bazel/appengine/pywebsite.bzl
  bazel/dependencies/cel_spec/BUILD.bazel
  bazel/dependencies/cel_spec/fix_linkage_problems.patch
  bazel/dependencies/old/dropbear.BUILD.bazel
  bazel/dependencies/old/libz.BUILD.bazel
  bazel/dive/dive.bzl
  bazel/dive/repositories.bzl
  bazel/enkit/defs.bzl
  bazel/go_extras/embed_data.bzl
  bazel/linux/bundles.bzl
  bazel/linux/defs.bzl
  bazel/linux/qemu.bzl
  bazel/linux/repository.bzl
  bazel/linux/runner.bzl
  bazel/linux/templates/kernel_tree.BUILD.bzl
  bazel/linux/test.bzl
  bazel/utils/cc_filter.bzl
  bazel/utils/container/container.bzl
  bazel/utils/diff_test.bzl
  bazel/utils/dynamic_wrapper.bzl
  bazel/utils/remote.bzl
  bazel/utils/remote_test.bzl
  bazel/utils/template.bzl
  bazel/utils/transform.bzl
  bazel/utils/yaml.bzl
  bestie/proto/BUILD.bazel
  experimental/nomad_resource_plugin/licensedevice/cmd/nomad_license_plugin/main.go
  flextape/proto/BUILD.bazel
  lib/bazel/proto/BUILD.bazel
  machinist/rpc/BUILD.bazel
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD.bazel
  third_party/bazel/src/main/protobuf/BUILD.bazel
  third_party/buildbuddy/proto/BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

Patch `rules_python` to allow `import rules_python.*`
  registry/modules/rules_python/enf-1.4.1/patches/rules_python.patch
  registry/modules/rules_python/enf-1.4.1/source.json
Owners: none

ENGPROD-1245: patch aspect_rules_py pex creation to contain repo_mapping and have entry point script in subdir
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

ENGPROD-1230: patch `bazel_bats` for execution on BuildBarn
  MODULE.bazel
  registry/modules/bazel_bats/enf-0.35.0/MODULE.bazel
  registry/modules/bazel_bats/enf-0.35.0/patches/bazel_bats.patch
  registry/modules/bazel_bats/enf-0.35.0/presubmit.yml
  registry/modules/bazel_bats/enf-0.35.0/source.json
  registry/modules/bazel_bats/metadata.json
Owners: @ccontavalli, @mhallmark, @jrp-enf

Add patched `rules_foreign_cc` to registry
  registry/modules/cel-spec/metadata.json
  registry/modules/gazelle/metadata.json
  registry/modules/protobuf/metadata.json
  registry/modules/rules_foreign_cc/enf-0.14.0/MODULE.bazel
  registry/modules/rules_foreign_cc/enf-0.14.0/patches/rules_foreign_cc.patch
  registry/modules/rules_foreign_cc/enf-0.14.0/presubmit.yml
  registry/modules/rules_foreign_cc/enf-0.14.0/source.json
  registry/modules/rules_foreign_cc/metadata.json
  registry/modules/rules_python/metadata.json
Owners: none

More patches to aspect_rules_py
  MODULE.bazel.lock
  bazel/linux/kunit/BUILD.bazel
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: @ccontavalli, @mhallmark, @jrp-enf

Fix `astore_upload_files_test`, expose multirun for backward compability
  MODULE.bazel
  bazel/astore/astore_upload_files.py
  bazel/enkit/defs.bzl
Owners: @ccontavalli, @mhallmark, @jrp-enf

rerun tests with `--update_goldens`
  bazel/utils/testdata/remote/only-copy.files_to_copy.expected
  bazel/utils/testdata/remote/simple.files_to_copy.expected
  bazel/utils/testdata/remote/simple.ssh.expected
  bazel/utils/testdata/remote/with-all-basic.files_to_copy.expected
  bazel/utils/testdata/remote/with-all-basic.ssh.expected
  bazel/utils/testdata/remote/with-all-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-decorated-wrapper.files_to_copy.expected
  bazel/utils/testdata/remote/with-decorated-wrapper.ssh.expected
  bazel/utils/testdata/remote/with-destdir.files_to_copy.expected
  bazel/utils/testdata/remote/with-destdir.ssh.expected
  bazel/utils/testdata/remote/with-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-local-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-local-dir.ssh.expected
  bazel/utils/testdata/remote/with-non-run-target.files_to_copy.expected
  bazel/utils/testdata/remote/with-noop-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-noop-inputs.ssh.expected
  bazel/utils/testdata/remote/with-opts.files_to_copy.expected
  bazel/utils/testdata/remote/with-opts.ssh.expected
  bazel/utils/testdata/remote/with-remote-dir-inverted.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir-inverted.ssh.expected
  bazel/utils/testdata/remote/with-remote-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir.ssh.expected
  bazel/utils/testdata/remote/with-wrapper.files_to_copy.expected
  bazel/utils/testdata/remote/with-wrapper.ssh.expected
Owners: none

add MODULE.bazel.lock to generated files in gitattributes
  .gitattributes
Owners: @ccontavalli, @mhallmark, @jrp-enf
