Repository enfabrica/enkit, changes with the owners that CODEOWNERS names for each.
All owners: @ccontavalli, @mhallmark, @jrp-enf, @jonathan-enf, @ahungrynacho, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

Detect when a test suite is supplied to remote rule
  bazel/utils/remote.bzl
Owners: none

Detect when a test suite is supplied to remote rule (#1243)
  bazel/utils/remote.bzl
Owners: none

Fix unit tests
  allocation_manager/proto/allocation_manager.proto
  allocation_manager/proto/config.proto
  allocation_manager/service/queue.go
  allocation_manager/service/queue_test.go
  allocation_manager/service/service.go
  allocation_manager/service/service_test.go
  allocation_manager/service/unit.go
  allocation_manager/service/unit_test.go
Owners: @ccontavalli, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

fix client build issues
  allocation_manager/client/allocation_manager_client/main.go
  allocation_manager/client/client.go
  allocation_manager/server/allocation_manager_config.textproto
Owners: @ccontavalli, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

Remove host_info.py module. Moving to internal
  allocation_manager/service/host_info.py
Owners: @ccontavalli, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

Update allocation_manager/proto/allocation_manager.proto
  allocation_manager/proto/allocation_manager.proto
Owners: @ccontavalli, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

[Allocation Manager] Encapsulate topo requests (#1242)
  allocation_manager/client/allocation_manager_client/BUILD.bazel
  allocation_manager/client/allocation_manager_client/main.go
  allocation_manager/client/client.go
  allocation_manager/proto/allocation_manager.proto
  allocation_manager/proto/config.proto
  allocation_manager/server/BUILD.bazel
  allocation_manager/server/allocation_manager_config.textproto
  allocation_manager/server/main.go
  allocation_manager/service/queue.go
  allocation_manager/service/queue_test.go
  allocation_manager/service/service.go
  allocation_manager/service/service_test.go
  allocation_manager/service/unit.go
  allocation_manager/service/unit_test.go
  allocation_manager/topology/BUILD.bazel
  allocation_manager/topology/config.go
  allocation_manager/topology/config_test.go
Owners: @ccontavalli, @kjw-enf, @moksh-enf, @paul-enf, @roivanov

improvements to pr_push and pr_check
  scripts/gee
  scripts/gee.changelog.md
Owners: @jonathan-enf, @ccontavalli, @mhallmark

update gee.md
  scripts/gee.md
Owners: @jonathan-enf, @ccontavalli, @mhallmark

gee 0.2.60: QOL improvements to pr_check and pr_push (#1244)
  scripts/gee
  scripts/gee.changelog.md
  scripts/gee.md
Owners: @jonathan-enf, @ccontavalli, @mhallmark

patch `rules_python` to allow `exclude_deps` annotation
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  registry/modules/rules_python/enf-1.4.1/MODULE.bazel
  registry/modules/rules_python/enf-1.4.1/patches/rules_python.patch
  registry/modules/rules_python/enf-1.4.1/presubmit.yml
  registry/modules/rules_python/enf-1.4.1/source.json
  registry/modules/rules_python/metadata.json
  run_affected.sh
  run_dlv.sh
Owners: @ccontavalli, @mhallmark, @jrp-enf, @jonathan-enf, @ahungrynacho

update go sdk in 'settings.json'
  .vscode/settings.json
Owners: none

revert back
  MODULE.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

update goldens
  MODULE.bazel.lock
  bazel/utils/testdata/remote/with-all-inputs.files_to_copy.expected
Owners: @ccontavalli, @mhallmark, @jrp-enf

ENGPROD-1230: patch `bazel_bats` for execution on BuildBarn
  MODULE.bazel
  registry/modules/bazel_bats/enf-0.35.0/MODULE.bazel
  registry/modules/bazel_bats/enf-0.35.0/patches/bazel_bats.patch
  registry/modules/bazel_bats/enf-0.35.0/presubmit.yml
  registry/modules/bazel_bats/enf-0.35.0/source.json
  registry/modules/bazel_bats/metadata.json
Owners: @ccontavalli, @mhallmark, @jrp-enf

drop `launch.json`
  .vscode/launch.json
Owners: none

rerun tests with `--update_goldens`
  bazel/utils/testdata/remote/only-copy.files_to_copy.expected
  bazel/utils/testdata/remote/simple.files_to_copy.expected
  bazel/utils/testdata/remote/simple.ssh.expected
  bazel/utils/testdata/remote/with-all-basic.files_to_copy.expected
  bazel/utils/testdata/remote/with-all-basic.ssh.expected
  bazel/utils/testdata/remote/with-all-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-decorated-wrapper.files_to_copy.expected
  bazel/utils/testdata/remote/with-decorated-wrapper.ssh.expected
  bazel/utils/testdata/remote/with-destdir.files_to_copy.expected
  bazel/utils/testdata/remote/with-destdir.ssh.expected
  bazel/utils/testdata/remote/with-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-local-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-local-dir.ssh.expected
  bazel/utils/testdata/remote/with-non-run-target.files_to_copy.expected
  bazel/utils/testdata/remote/with-noop-inputs.files_to_copy.expected
  bazel/utils/testdata/remote/with-noop-inputs.ssh.expected
  bazel/utils/testdata/remote/with-opts.files_to_copy.expected
  bazel/utils/testdata/remote/with-opts.ssh.expected
  bazel/utils/testdata/remote/with-remote-dir-inverted.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir-inverted.ssh.expected
  bazel/utils/testdata/remote/with-remote-dir.files_to_copy.expected
  bazel/utils/testdata/remote/with-remote-dir.ssh.expected
  bazel/utils/testdata/remote/with-wrapper.files_to_copy.expected
  bazel/utils/testdata/remote/with-wrapper.ssh.expected
Owners: none

add MODULE.bazel.lock to generated files in gitattributes
  .gitattributes
Owners: @ccontavalli, @mhallmark, @jrp-enf

cleanup
  org_golang_google_grpc.patch
Owners: @ccontavalli, @mhallmark, @jrp-enf

fix flextape client_test flakiness
  flextape/client/client.go
Owners: none

A bunch of python-related fixes
  bazel/linux/bundles.bzl
  bazel/linux/kunit/BUILD.bazel
  bazel/utils/yaml.bzl
  registry/modules/aspect_rules_py/enf-1.5.1/patches/pyinfo_in_pex_binary.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

fix after merge errors
  bazel/astore/BUILD.bazel
  bazel/astore/astore_upload_files.py
Owners: none

Add patched `rules_foreign_cc` to registry
  registry/modules/cel-spec/metadata.json
  registry/modules/gazelle/metadata.json
  registry/modules/protobuf/metadata.json
  registry/modules/rules_foreign_cc/enf-0.14.0/MODULE.bazel
  registry/modules/rules_foreign_cc/enf-0.14.0/patches/rules_foreign_cc.patch
  registry/modules/rules_foreign_cc/enf-0.14.0/presubmit.yml
  registry/modules/rules_foreign_cc/enf-0.14.0/source.json
  registry/modules/rules_foreign_cc/metadata.json
  registry/modules/rules_python/metadata.json
Owners: none

Run buildifier and fix linkage problems
  MODULE.bazel
  MODULE.bazel.lock
  bazel/appengine/config.bzl
  bazel/appengine/pywebsite.bzl
  bazel/dependencies/cel_spec/BUILD.bazel
  bazel/dependencies/cel_spec/fix_linkage_problems.patch
  bazel/dependencies/old/dropbear.BUILD.bazel
  bazel/dependencies/old/libz.BUILD.bazel
  bazel/dive/dive.bzl
  bazel/dive/repositories.bzl
  bazel/enkit/defs.bzl
  bazel/go_extras/embed_data.bzl
  bazel/linux/bundles.bzl
  bazel/linux/defs.bzl
  bazel/linux/qemu.bzl
  bazel/linux/repository.bzl
  bazel/linux/runner.bzl
  bazel/linux/templates/kernel_tree.BUILD.bzl
  bazel/linux/test.bzl
  bazel/utils/cc_filter.bzl
  bazel/utils/container/container.bzl
  bazel/utils/diff_test.bzl
  bazel/utils/dynamic_wrapper.bzl
  bazel/utils/remote.bzl
  bazel/utils/remote_test.bzl
  bazel/utils/template.bzl
  bazel/utils/transform.bzl
  bazel/utils/yaml.bzl
  bestie/proto/BUILD.bazel
  experimental/nomad_resource_plugin/licensedevice/cmd/nomad_license_plugin/main.go
  flextape/proto/BUILD.bazel
  lib/bazel/proto/BUILD.bazel
  machinist/rpc/BUILD.bazel
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD.bazel
  third_party/bazel/src/main/protobuf/BUILD.bazel
  third_party/buildbuddy/proto/BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

Fix `astore_upload_files_test`, expose multirun for backward compability
  MODULE.bazel
  bazel/astore/astore_upload_files.py
  bazel/enkit/defs.bzl
Owners: @ccontavalli, @mhallmark, @jrp-enf

update after rebase
  MODULE.bazel
  astore/server/BUILD.bazel
  go.mod
  go.sum
Owners: @ccontavalli, @mhallmark, @jrp-enf

update `MODULE.bazel`
  MODULE.bazel.lock
Owners: @ccontavalli, @mhallmark, @jrp-enf

patch pex binary creation
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/patches/pyinfo_in_pex_binary.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

ENGPROD-1201: a workaround for `import enkit` from monorepo
  MODULE.bazel
  enkit/BUILD.bazel
  enkit/__init__.py
Owners: @ccontavalli, @mhallmark, @jrp-enf

ENGPROD-1213: Patch `aspect_rules_py` to use host python interpreter during PEX compilation
  registry/modules/aspect_rules_py/enf-1.5.1/patches/aspect_rules_py.patch
  registry/modules/aspect_rules_py/enf-1.5.1/source.json
Owners: none

Patch `rules_python` to allow `import rules_python.*`
  registry/modules/rules_python/enf-1.4.1/patches/rules_python.patch
  registry/modules/rules_python/enf-1.4.1/source.json
Owners: none

make hermetic_cc_toolchain non dev dependency
  MODULE.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

expose command also
  bazel/enkit/defs.bzl
Owners: none

Fool protobuf to think it is version `5.29.3` for python
  registry/modules/protobuf/enf-31.0/patches/protobuf.patch
  registry/modules/protobuf/enf-31.0/source.json
Owners: none

Fix bunch of build errors
  BUILD.bazel
  MODULE.bazel
  bazel/dependencies/com_google_cloud_go_datastore/0001-datastore-query-to-proto-exported.patch
  bazel/dependencies/com_google_cloud_go_datastore/BUILD.bazel
  bb_reporter/reporter/BUILD.bazel
  experimental/nomad_resource_plugin/licensedevice/docker/docker.go
  experimental/remote_apis_build_demo/BUILD.bazel
  lib/client/commands/BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

migrate to `aspect_rules_py`
  MODULE.bazel.lock
  bazel/appengine/configtools/BUILD.bazel
  bazel/linux/kunit/BUILD.bazel
  bazel/utils/container/BUILD.bazel
  bazel/utils/container/container.bzl
  bazel/utils/container/muk/BUILD.bazel
  bazel/website/copier/BUILD.bazel
  tools/bzldoc/BUILD.bazel
  tools/codegen/BUILD.bazel
  tools/mdfmt/BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

add visibility to container_push
  MODULE.bazel
  bazel/utils/container/container.bzl
  tools/go/update_go_deps.sh
Owners: @ccontavalli, @mhallmark, @jrp-enf, @jonathan-enf, @ahungrynacho

Fix protobuf python related error in bazel query --order_output=no 'deps(//...)'
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  bazel/dependencies/protobuf/0001-fix-protobuf-query-errors.patch
  bazel/dependencies/protobuf/BUILD.bazel
Owners: @ccontavalli, @mhallmark, @jrp-enf

Do not build make and pkgconfig from source
  registry/modules/rules_foreign_cc/enf-0.14.0/MODULE.bazel
  registry/modules/rules_foreign_cc/enf-0.14.0/patches/rules_foreign_cc.patch
  registry/modules/rules_foreign_cc/enf-0.14.0/source.json
Owners: none

fix rules_go name
  bazel/enkit_credential_helper/BUILD.bazel
Owners: none

CODEOWNERS:

/* @ccontavalli @mhallmark @jrp-enf
*.sh @jonathan-enf @ccontavalli @ahungrynacho @mhallmark
/scripts @jonathan-enf @ccontavalli @mhallmark
allocation_manager/ @ccontavalli @kjw-enf @moksh-enf @paul-enf @roivanov
